@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.underline-yellow {
  text-decoration: underline;
  text-decoration-color: #F2B138;
  text-decoration-thickness: 7px;
}